@import url(null.css);

[class*=__container] {
  max-width: 1165px;
  margin: 0px auto;
  padding: 0px 15px;
}
@font-face {
  font-family: "Avenir";
  src: url("/Notab/fonts/Avenir-Heavy.ttf") format("truetype");
  font-style: normal;
  font-weight: 900;
}
body {
  background-color:#000;
  color: #fff;
  
}
a {
  color: #fff;
}
h1 , h2 , h3 , h4 , h5 , h6 {
  font-family: "Montserrat" , sans-serif;
}
a:hover {
  opacity: 0.9;
}
a:active {
  opacity: 1;
}
/***********
HEADER
*///////////
.header {
  
  &__container {
  display: flex;
  align-items: center;
  gap: 110px;
  }
  &__logo {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__cube {

  }

  &__text {
    
  }

  &__login  {
  display: flex;
  align-items: center;
  gap: 13px;
  }
}

